{% include "scripts.html" %}
{% include "head.html" %}

{% load compress %}
{% load staticfiles %}

{% compress css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'styles.scss' %}" />
  <link rel="stylesheet" type="text/scss" href="{% static 'product_d.scss' %}" />
{% endcompress %}

<div class="nav_wrap">
{% include "nav.html" %}
</div>

<div>
  <h2>{{ product.product_name }}</h2>
  <img class='product_image' src='{{ product.image_1 }}'>
  <div class="info_table">
    <p>{{ product.product_description }}</p>
    <p>{{ product.wattage }}</p>
    <p>{{ product.lumens }}</p>
    <p>{{ product.lumens_per_watt }}</p>
    <p>{{ product.cct }}</p>
    <p>{{ product.cri }}</p>
    <p>{{ product.colors }}</p>
    <p>{{ product.life_span }}</p>
    <p>{{ product.weight }}</p>
    <p>{{ product.warranty }}</p>
    <p>{{ product.replacement }}</p>
    <p>{{ product.ul_certified }}</p>
    <p>{{ product.dlc_certified }}</p>
    <p>{{ product.isIndoor }}</p>
    <p>{{ product.isFeatured }}</p>
  </div>
</div>

{% include "footer.html" %}
