{% include "scripts.html" %} {% include "head.html" %} {% load compress %} {% load staticfiles %} {% compress css %}
<link rel="stylesheet" type="text/scss" href="{% static 'styles.scss' %}" />
<link rel="stylesheet" type="text/scss" href="{% static 'partials/_why_amerlight.scss' %}" /> {% endcompress %}

<div class="nav_wrap">
    {% include "nav.html" %}
</div>
<div class="container-title">
    <p class="subhead">Why LED</p>
    <h1 class="title-widget">LED Performance Advantages</h1>
</div>
{% include "polls/widgets/why-amerlight.html" %}


{% include "footer.html" %}
