{% include "scripts.html" %} {% include "head.html" %} {% load compress %} {% load staticfiles %} {% compress css %}
<link rel="stylesheet" type="text/scss" href="{% static 'styles.scss' %}" />
<link rel="stylesheet" type="text/scss" href="{% static 'about.scss' %}" /> {% endcompress %}

<div class="nav_wrap">
    {% include "nav.html" %}
</div>


<div class="about_div">

    <div class="about_div_info">
        <h3>Who we are.</h3>
        <p>Located in Evansville, Indiana, Amerlight is an American based company that manufactures commercial and industrial LED lights.
            <br>
            <br> We work directly with customers and distributers engineering the latest technology for efficiency.
        </p>
        <br>
        <a href="{% url 'polls:about' %}" class="btn_translucent_l">Learn More</a>

    </div>
</div>

{% include "polls/widgets/why-amerlight.html" %}

<div class="div-pic">
    <h2>Made in the USA</h2>
</div>
<div class="content">
    <h3>Contact Us</h3>
    <div class="text">
        <p>Talk to one of our Lighting Consultants</p>
        <a href="{% url 'polls:contact'%}" class="btn_solid_d">
            <p>Find Consultants Near You</p>
        </a>

    </div>
</div>

{% include "footer.html" %} }
