.footer {
  height: 300px;
  background: #2C2C2C;
}
.footer>p {
  color: white;
}
.footer_below {
  position: relative;
  height: 30px;
  background: #111;
}
.logo_board {
  position: absolute;
  margin-left: 10px;
  top: -17px;
  height: 30px;
}
.copyright {
  position: absolute;
  margin-left: 50px;
  top: -17px;
    display: block;
    font-size: 10px;
    color: white;
  }
#mail_icon {
  color: white;
}
