@charset "utf-8";
@import 'vars.scss';
@import "nav";
@import "footer";

body {
  background: #ECC561;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}



body {
  background: $white;
  font-size: $p;
  font-family: $font;
  position: relative;
}
h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
p {
  font-size: $p;
}
.subtext {
  font-size: $subtext;
}
.background {
    background-repeat: no-repeat;
    background-size: contain;
}

.dark {
  color: $dark;
}
.white {
  color: $white;
}

.containter {

}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix {
  display: inline-block;
}


a {
  text-decoration: none;
  padding: 10px;
  border-radius: 0px;
  color: $dark;
  &:hover {
    color: $darkLight;
  }
  &:active {
    color: $dark;
  }
}

.btn_solid_l {
  border: 2px solid $white;
  background: $white;
  color: $dark;
  &:hover {
    border: 2px solid $gray;
    background: $gray;
    color: $white;
  }
  &:active {
    border: 2px solid $dark;
    background: $dark;
    color: $white;
  }
}
.btn_solid_d {
  border: 2px solid $dark;
  background: $dark;
  color: $white;
  &:hover {
    border: 2px solid $white;
    background: $white;
    color: $dark;
  }
  &:active {
    border: 2px solid $white;
    background: $white;
    color: $dark;
  }
}

.btn_translucent_l {
  border: 2px solid $white;
  background: none;
  color: $white;
  &:hover {
    border: 2px solid $white;
    background: $white;
    color: $dark;
  }
  &:active {
    border: 2px solid $dark;
    background: $dark;
    color: $white;
  }
}
.btn_translucent_d {
  border: 2px solid $dark;
  background: none;
  color: $dark;
  &:hover {
    border: 2px solid $gray;
    background: $gray;
    color: $white;
  }
  &:active {
    border: 2px solid $white;
    background: $white;
    color: $dark;

  }
}
