{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Oxygen:300|Raleway|Raleway+Dots|Lato|Nunito:300' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/static/polls/images/favicon.png"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

	<!-- Add the slick-theme.css if you want default styling -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>-->
	<!--<script type="text/javascript" src='main.js'></script>-->
  <title>Amerlight LED</title>
  <link rel="stylesheet" type="text/css" href="{% static 'polls/base.css' %}" />

	<meta name="description" content="">

  <!-- Mobile-friendly viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

</body>
</html>
