

<div class='banner'>
   <a class="brand" href="this_page_link"><img class='logo' src='/static/polls/images/logo.png' alt='amerlight_logo'></a>
   <i class="fa fa-bars clearfix" aria-hidden="true"></i>
   <div class='nav'>
      <li><a class='item clearfix'  href="{% url 'polls:products' %}" id="item" onmouseenter="document.getElementsByClassName('desktop_menu_products')[0].style.display = 'block'"  onmouseleave="document.getElementsByClassName('desktop_menu_products')[0].style.display = 'none'">
         PRODUCTS</a>
      </li>
      <li><a class='item clearfix' href="#" onmouseenter="document.getElementsByClassName('desktop_menu_case')[0].style.display = 'block'"  onmouseleave="document.getElementsByClassName('desktop_menu_case')[0].style.display = 'none'">
         CASE STUDIES</a>
      </li>
      <li><a class='item clearfix' href="#" onmouseenter="document.getElementsByClassName('desktop_menu_about')[0].style.display = 'block'"  onmouseleave="document.getElementsByClassName('desktop_menu_about')[0].style.display = 'none'">
         ABOUT US</a>
      </li>
      <li><a class='item clearfix' href="#" onmouseenter="document.getElementsByClassName('desktop_menu_contact')[0].style.display = 'block'"  onmouseleave="document.getElementsByClassName('desktop_menu_contact')[0].style.display = 'none'">
         CONTACT US</a>
      </li>
   </div>
   <div class="desktop_menu_products desktop_menu" id="desktop_menu" onmouseenter="document.getElementsByClassName('desktop_menu_products')[0].style.display = 'block'"  onmouseleave="document.getElementsByClassName('desktop_menu_products')[0].style.display = 'none'">
      <div class="container">
         <div class="border-bottom">
            <h4>Products</h4>
            <li><a class='item clearfix' href="{% url 'polls:indoor_products' %}">Indoor</a>
            </li>
            <li><a class='item clearfix' id="item"  href="{% url 'polls:outdoor_products' %}">Outdoor</a></li>
            <li><a class='item clearfix' id="item"  href="{% url 'polls:products' %}">All Products</a></li>
         </div>
         <div class="feat">
            <p>Featured Products {{ featured_products }}</p>
            {% for each_product in all_products %}

            <li><a class='item clearfix' id="item"  href="{% url 'polls:product_detail' each_product.slug %}">
              {% ifequal each_product.isFeatured True %}{{ each_product.product_name }}{% else %}{% endifequal %}</a></li>

            {% endfor %}

         </div>
      </div>
   </div>
   <div class="desktop_menu_case desktop_menu" id="desktop_menu" onmouseenter="document.getElementsByClassName('desktop_menu_case')[0].style.display = 'block'"  onmouseleave="document.getElementsByClassName('desktop_menu_case')[0].style.display = 'none'">
      <div class="container">
         <div class="border-bottom">
            <h4>Amerlight Projects</h4>
            <li><a class='item clearfix' href="{% url 'polls:industrial_projects' %}">Industrial</a>
            </li>
            <li><a class='item clearfix' id="item"  href="{% url 'polls:automotive_projects' %}">Automotive</a></li>
            <li><a class='item clearfix' id="item"  href="{% url 'polls:institutional_projects' %}">Institutional</a></li>
            <li><a class='item clearfix' id="item"  href="{% url 'polls:case_studies' %}">All Projects</a></li>
         </div>
         <div class="feat">
           <p>Featured Projects {{ featured_products }}</p>
           {% for case in all_case_studies %}

           <li><a class='item clearfix' id="item"  href="{% url 'polls:case_detail' case.slug %}">
             {% ifequal case.isFeatured True %}{{ case.project_name }}{% else %}{% endifequal %}pop</a></li>

           {% endfor %}
         </div>
      </div>
   </div>
   <div class="desktop_menu_about desktop_menu" id="desktop_menu" onmouseenter="document.getElementsByClassName('desktop_menu_about')[0].style.display = 'block'"  onmouseleave="document.getElementsByClassName('desktop_menu_about')[0].style.display = 'none'">
      <div class="container">
         <div class="border-bottom">
            <h4>The Amerlight Advantage</h4>
            <li><a class='item clearfix'>Why Amerlight?</a>
            </li>
            <li><a class='item clearfix' id="item"  href="#">Why LED?</a></li>
            <li><a class='item clearfix' id="item"  href="#">Our Benefits</a></li>
            <li><a class='item clearfix' id="item"  href="#">Sign and Light</a></li>
            <li><a class='item clearfix' id="item"  href="#">Free Estimate</a></li>
         </div>
      </div>
   </div>
   <div class="desktop_menu_contact desktop_menu" id="desktop_menu" onmouseenter="document.getElementsByClassName('desktop_menu_contact')[0].style.display = 'block'"  onmouseleave="document.getElementsByClassName('desktop_menu_contact')[0].style.display = 'none'">
      <div class="container">
         <div class="border-bottom">
            <h4>Contact Us</h4>
            <li><a class='item clearfix'>Find a Sales Representative near you.</a>
            </li>
            <li><a class='item clearfix' id="item"  href="#">Start Your Project</a></li>
            <li><a class='item clearfix' id="item"  href="#">Sign and Light</a></li>
            <li><a class='item clearfix' id="item"  href="#">Free Estimate</a></li>
         </div>
      </div>
   </div>
</div>
