
    <div id="sidebar">
      <div class='banner'>

  		<a class="brand" href="this_page_link"><img class='logo' src='static/polls/images/logo.png' alt='amerlight_logo'</a>

  		<div class='nav'>

  				<li><a class='item1' href="#">PRODUCTS</a></li>
  				<li><a class='item2' href="#">CASE STUDIES</a></li>
  				<li><a class='item3' href="#">ABOUT US</a></li>
  				<li><a class='item4' href="#">CONTACT US</a></li>
  				<i id='fa-bars' class="fa fa-bars" aria-hidden="true"></i>
  		</div>
  	</div>
